{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block extra_head_title %}
	{% trans 'Alex Little - Contact' %}
{% endblock extra_head_title %}


{% block content %}
<h1>{% trans 'Alex Little - Contact' %}</h1>


<div class="row al-row">
  <div class="col-sm-2 contact-type">{% trans 'Email:' %}</div>
  <div class="col-sm-8"><a href="mailto:alex@alexlittle.net">alex@alexlittle.net</a></div>
</div>

<div class="row al-row">
  <div class="col-sm-2 contact-type">{% trans 'LinkedIn:' %}</div>
  <div class="col-sm-8"><a href="https://www.linkedin.com/in/alex-little/">https://www.linkedin.com/in/alex-little/</a></div>
</div>



{% endblock %}