{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Alex Little - CV/Resume' %}
{% endblock extra_head_title %}

{% block content %}
<h1>{% trans 'Alex Little - CV/Resume' %}</h1>

<div class="content-text">{{ page.content|safe }}</div>

{% if experience %}
	<h2>{% trans 'Experience' %}</h2>
	{% for cv in experience %}
		{% include "consult/includes/cv-row.html" %}
	{% endfor %}
{% endif %}

{% if publications %}
	<h2>{% trans 'Publications' %}</h2>
		{% for cv in publications %}
		{% include "consult/includes/cv-row.html" %}
	{% endfor %}
{% endif %}

{% if conferences %}
	<h2>{% trans 'Conferences and Workshops' %}</h2>
		{% for cv in conferences %}
		{% include "consult/includes/cv-row.html" %}
	{% endfor %}
{% endif %}

{% endblock %}