{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Alex Little - CV/Resume' %}
{% endblock extra_head_title %}

{% block content %}
<h1>{% trans 'Alex Little - CV/Resume' %}</h1>

{% if experience %}
	<h2>{% trans 'Experience' %}</h2>
	{% for cv in experience %}
		{% include "consult/includes/cv-row.html" %}
	{% endfor %}
{% endif %}

{% if other %}
	<h2>{% trans 'Conferences, Workshops and Publications' %}</h2>
	{% for cv in other %}
		{% include "consult/includes/cv-row.html" %}
	{% endfor %}
{% endif %}

{% endblock %}