{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block extra_head_title %}
	{% trans 'Alex Little' %}
{% endblock extra_head_title %}

{% block content %}
<h1>{% trans 'Alex Little' %}</h1>

{% if page %}
	<div class="content-text">
	<img class="profile" src="https://s.gravatar.com/avatar/999e64c7fdd6111396687b5b30643349?s=200" alt="Alex Little pofile photo"/>
	{{ page.content|safe }}</div>
{% endif %}

{% if news %}
	<h2>{% trans 'News' %}</h2>
	{% for post in news %}
		{% include "blog/blog-row.html" %}
	{% endfor %}
{% endif %}

{% if projects %}
	{% for project in projects %}
		{% include "consult/includes/project-row.html" %}
	{% endfor %}
{% endif %}

{% endblock %}
