{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Alex Little' %}
{% endblock extra_head_title %}

{% block content %}
<h1>{% trans 'Alex Little' %}</h1>

{% if page %}
	<div class="content-text">{{ page.content|safe }}</div>
{% endif %}

<p class="content-text">{% trans 'Here is a selection of my current work:' %}</p>

{% if projects %}
	{% for project in projects %}
		{% include "consult/includes/project-row.html" %}
	{% endfor %}
{% endif %}

{% endblock %}
