{% load i18n %}
{% load staticfiles %}
{% block content %}
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	   
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        <a class="navbar-brand" href="{% url 'consult_home' %}"><img src="{% static "consult/7hex.svg.png" %}"/>Alex Little</a>
	        </div>
	         
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	          		<li {% if home_active == True %}class='active' {% endif %}><a href='{% url 'consult_home' %}'>{% trans 'Home' %}</a></li>
	          		<li><a href='{% url 'blog_home' %}'>{% trans 'News' %}</a></li>
	          		<li {% if cv_active == True %}class='active' {% endif %}><a href='{% url 'consult_cv' %}'>{% trans 'CV' %}</a></li>
	          		<li {% if contact_active == True %}class='active' {% endif %}><a href='{% url 'consult_contact' %}'>{% trans 'Contact' %}</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
{% endblock content %}
