{% load i18n %}
{% load static %}
{% block content %}


<nav id="navbar" class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'consult:home' %}">
	    <img src="{% static "consult/7hex.svg.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
      Alex Little
  	</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" >
        <li class="nav-item {% if home_active == True %}active{% endif %}">
          <a href='{% url 'consult:home' %}' class="nav-link">{% trans 'Home' %}</a>
        </li>
        {% if BLOG_ENABLED %}
        <li class="nav-item {% if news_active == True %}active{% endif %}">
          <a href='{% url 'blog:home' %}' class="nav-link">{% trans 'News' %}</a>
        </li>
        {% endif %}
        <li class="nav-item {% if cv_active == True %}active{% endif %}">
          <a href='{% url 'consult:cv' %}' class="nav-link">{% trans 'CV' %}</a>
        </li>
        <li class="nav-item {% if contact_active == True %}active{% endif %}">
          <a href='{% url 'consult:contact' %}' class="nav-link">{% trans 'Contact' %}</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
	    
	    
{% endblock content %}
